    /* Fondo completo con degradado elegante */
    .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #06357c 0%, #2189ff 45%, #5db0f8 100%);
    font-family: 'Inter', 'Roboto', sans-serif;
    }

    /* Tarjeta del login */
    .login-card {
    width: 300px;
    background: white;
    padding: 35px 40px;
    border-radius: 16px;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
    
    }

    /* Título */
    .login-card h2 {
    font-size: 22px;
    margin-bottom: 25px;
    color: #0d47a1;
    font-weight: 500;
    }

    /* Inputs */
    .login-card input {
    width: 90%;
    padding: 12px 14px;
    margin-bottom: 18px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-size: 15px;
    
    }

    .login-card input:focus {
    outline: none;
    border-color: #1e88e5;
    box-shadow: 0 0 4px rgba(30, 136, 229, 0.4);
    }

    /* Botón */
    .login-card button {
    width: 100%;
    padding: 12px 0;
    background: #0d47a1;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

    .login-card button:hover {
    background: #1565c0;
    transform: translateY(-1px);
    }

    /* Error */
    .error {
    color: #d32f2f;
    margin-top: 12px;
    font-size: 14px;
    }



